<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 - 2016 General Electric Company. All rights reserved.
  ~
  ~ The copyright to the computer software herein is the property of
  ~ General Electric Company. The software may be used and/or copied only
  ~ with the written permission of General Electric Company or in accordance
  ~ with the terms and conditions stipulated in the agreement/contract
  ~ under which the software has been supplied.
  -->

<configuration scan="true">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n </Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>custom-data-connector.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>custom-data-connector-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
